html {
     min-height: 100%;
}

body{
   background-image: linear-gradient(to top right, white, gray);
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1{
	text-align: center;
	padding: 17%;
	color: white;
	font-family: Trebuchet MS;
    }

footer{
   background-image: linear-gradient(to top right, white, gray);
}
