body{
    background-color: black;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,50));
}

h1{
	text-align: center;
	padding: 17%;
	color: white;
	font-family: Trebuchet MS;
    }
