body{
   background-image: linear-gradient(to top right, white, gray);
}

h1{
	text-align: center;
	padding: 17%;
	color: white;
	font-family: Trebuchet MS;
    }

footer{
   background-image: linear-gradient(to top right, white, gray);
}
